/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */


/** Remove responsiveness  **/

#header-wrapper,
#content-wrapper,
#footer-wrapper,
#page
 {
  min-width: 1140px;
}

.region-content
{
	width:855px !important;
}

/**************/


  .page-type-product-display	.commerce-product-field-field-sizing-information  
  {
  		clear: left;
  	}
 .page-type-product-display .commerce-product-field-field-image
 {
	float: left;
	margin-right: 50px; 	
 	}
 	
 	.form-item-attributes-field-size label
 	{
 		display: inline;
 	}
.page-type-product-display .field-type-image img
{
	padding:0;
}

.block-region-header #phone
{
	font-size: 19px;
	font-weight: bold;
	color: #fff;
	margin-top: 15px;	
	display: block;
	text-align: right;
	float:left;
	margin-left:70px;
}
.block-region-header #header-splash
{
	float: left;
}
.block-region-header a
{
	color: #fff;
}

.block-region-header a:hover
{
	text-decoration: underline;
}

#branding {
  margin: 0px 0 18px;
}
#logo {
  padding-top: 0;
}

#header-wrapper,#footer-wrapper {
	background: #e25b2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #e25b2e 0%, #d2232a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e25b2e), color-stop(100%,#d2232a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e25b2e 0%,#d2232a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e25b2e 0%,#d2232a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e25b2e 0%,#d2232a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e25b2e 0%,#d2232a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e25b2e', endColorstr='#d2232a',GradientType=0 ); /* IE6-9 */

	color: #fff;
}

#footer-wrapper a{
	color: #fff;

}
#footer-wrapper a:hover
{
	text-decoration: underline;
}

.footer-contact-heading
{
	color: #fff;
	text-indent: 14px;
	border-bottom: 1px solid #d2232a;
}

#block-block-4 td,
#block-block-4 tbody
{
	border:0;
}

/** fix for at-commerce  **/

fieldset.checkout-buttons .checkout-cancel, fieldset.checkout-buttons .checkout-back {
  float: none;
  margin:0 5px;
}
.page-checkout fieldset#edit-buttons input {
  margin:0 5px;
}


/** move slideshow banners  **/

.slideshow-caption
{
	text-align:right;
	right:0;
}



/** Homepage (product page) content styles  **/

.page-type-product-display .field-name-field-photo
{
	float: left !important;
	margin-right: 15px !important;
	margin-bottom: 30px !important;
	width:330px !important;
	clear: none !important;
}

.page-type-product-display .field-name-body
{
	float:none !important;
	width: auto !important;
}

.front .article-title
{
	display: none;
}
 .page-type-product-display .field-name-body h2
 {
 	margin-bottom: 0px;
 	color:#BF050F;
 }

  .page-type-product-display .field-name-body ul
{
	list-style-type: none;
}
  .page-type-product-display .field-name-body h3
 {
 	text-decoration: underline;
 	margin: 5px 0;
 }

 .page-type-product-display .field-name-body strong
 {
 	color:#96060D;
 }

.emf-group
{
	float:left;
	width:37%;
	margin-right:3%;
	clear: left;
}
.emf
{
	background-color:#ededed;
	border:solid 1px #ccc;
	padding:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 20px;
}
.emf strong
{
	display:block;
}


.first-list li
{
	margin-bottom:5px;
	position: relative;
}


.first-list li:before
{
	/*content: " ";
	display: block;
	position: absolute;
	left:-27px;
	top:2px;
	background-image: url(../images/check.png);
	width:22px;
	height: 20px;*/

}

.size-title
{
	display: block;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}
#block-views-sidebar-add-to-cart-block .field-type-commerce-price
{
	color: #0060AA;
	font-size: 3em;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	margin-bottom: 0px !important;
}
.commerce-add-to-cart .form-submit
{

height: 43px;
font-size: 18px;
font-weight: bold;
border: 0 !important;
background-image: url(../images/ordernow.gif);
background-size:240px 43px;
filter:none;
text-indent: -999em;
width:240px;
background-color: transparent;
margin-top: 50px;
}
.form-submit:focus, .form-submit:hover {
  box-shadow:none;
}
#block-views-sidebar-add-to-cart-block .field-name-field-sizing-information
{
	margin-top:-110px;
}

#block-commerce-cart-cart .block-title
{
	color: #d2232a;
	font-weight: bold;
}

#block-views-sidebar-add-to-cart-block
{
	padding: 20px 0 20px 0;
	border-radius: 10px;
	background: url(../images/buynow.png) center top no-repeat #FF9900;
	background-size:285px 35px;
	text-align: center;
}

#block-views-sidebar-add-to-cart-block .form-item-attributes-field-size
{
	margin-top:5px;
}
#block-views-sidebar-add-to-cart-block .node-readmore
{
	display: none;
}


/* sidebar bullet points 

#block-block-3
{
	height:236px;
	padding: 15px 0;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	background: #e25b2e; 

}
#block-block-3 ul
{
	margin-left: 20px;
}
#block-block-3 li{
	margin-bottom: 10px;
	list-style-type: none;
	position: relative;
}
#block-block-3 li:before
{
	content: " ";
	display: block;
	position: absolute;
	left:-27px;
	top:2px;
	background-image: url(../images/check.png);
	width:22px;
	height: 20px;

}

*/